nav.navbar.navbar {
    box-shadow: 0 1px 13px 0 #ccc;
}
.app-nav {
    background-color: #fff;
}
.navbar-brand img{
    max-width: 70px;
}
.navbar-nav .nav-link{
    color: #f1413d!important;
    display: inline-block;
    padding: 5px;
}
.navbar-nav .nav-link:hover{
    color: red!important;
    font-weight: 700;
    text-decoration: none;
}
.dropdown-item:focus, .dropdown-item:active{
    background: transparent;
    outline: 0;
}

li.nav-item.search-icon {
    display: flex;
    align-items: center;
}

@media(max-width:767px){
    .navbar-brand img {
        max-width: 40px;
    }
    .bm-menu-wrap {        
        top: 66px;
    }
}